.top-bar{
    padding: 15px;
    background-color: #59C9A5;
    color: #2e2e2e;
}

.navigation-bar{
    border-bottom: 1px solid rgba(63, 63, 63, 0.623);
    padding: 15px 0;
    background-color: #fff;
    text-align: center;

  
}
.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-link{
    font-weight: bold;
    
}
a{
    text-decoration: none;
    color: inherit;
}
a:not(:last-child){
    margin-right: 10px;
}
.logo{
    width: 200px;
}