.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    height: 220px;
    background-color: #274C77;
    color: #ece9f0;
    
     
    &-layout{
        display: flex;
        justify-content: space-between;
    }
}